<form method="POST">
    <input placeholder="User Name..." type="text" name="userName">
    <br>
    <input placeholder="Password..." type="password" name="password">
    <br>
    <input placeholder="Email..." type="email" name="email">
    <br>
    <input type="submit" value="Save">
</form>